@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
}
*html{
    width: 100%;
}

.wrapper{

}

@media (max-width: 651px) {
    .wrapper{
        width: 600px;
    }
}

@media (max-width: 445px) {
    .wrapper{
        width: 800px;
    }
}

@media (max-width: 251px) {
    .wrapper{
        width: 600px;
    }
}


@media (max-width: 1285px) {
    .phone{
        display: none;
    }

}
