@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
}
*html{
    width: 100%;
}



@media (max-width: 847px) {
    .phone{
        display: none;
    }

}

.phone{
    margin-right: 16px;
}
